
body {
  background-color: whitesmoke;
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd;

}


@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

li {
  display: inline;
}

.question-form {
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 50px;
}

a {
  color: #00B7FF;
}


a {
  color: #00B7FF;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}