<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/navbar.css' />
</head>
  <nav>
   <ul class="topnav">
    <li><a class="active" href="/">Home</a></li>
    <li><a class="active" href="/quizzes">quizzes</a></li>
    <li class="right"><form action='/users/logout' method="POST" onClick="return confirm('Are you sure you want to logout?')"><button type="submit">Logout</button></form></li>
  </nav>
  <title>{{title}}</title>
<body>
  <div class="container">
  {{{body}}}
  </div>
</body>
</html>