<h1>New book</h1>
<form action="/books" method="POST">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="author" name="author">
    <input type="number" placeholder="copies" name="copies">
    <button type="submit">Submit</button>
</form>

